
/* Reset CSS */
 


/* Loader */


.spinner {
  z-index: 1000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;  
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: loader-div 0.7s ease-in-out;
  animation: loader-div 0.7s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}  

.double-bounce1, .double-bounce2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #9356DC;
  opacity: 0.6;
  position: absolute;
  -webkit-animation: sk-bounce 3.0s ease-in-out;
  animation: sk-bounce 3.0s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
  background-color: #99E2D0;
 
}

@keyframes spinner {
  0%,100%  { 
    -webkit-transform: scale(0.0); 
  }
  50% { 
    -webkit-transform: scale(1.0); 
  }
  
}

@keyframes loader-div {
  0% { opacity: 100%;
   /* display: block; */
  }
  99% { opacity: 40%;

  }
  100% { 
        visibility: hidden;
  }
  
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 
  50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }
  
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  

  /* Corps de la page */

  .conteneur-en-tete {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
  
  .logo {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .conteneur-recherche-lieu {
    background-color: #e6e6e6;
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .barre-de-recherche-lieu {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 20px;
    padding-top: 5px;
  }

  .barre-de-recherche-lieu i {
    padding-top: 16px;
    margin-left: 26px;
    font-size: large;
  }

  .barre-de-recherche-lieu .search-txt {
    padding-top: 20px;
    margin-left: 28px;
    font-size: medium;
    background-color: #e6e6e6;
    border: none;
  } 

  /* Presentation */

  .conteneur-recherche-restaurant {
    width: 100%;
    height: auto;
    background-color: #efefef;
    padding-bottom: 50px;
  }

  .texte-recherche-restaurant h1 {
    width: 66%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 5%;
    text-align: center;
  }

  .texte-recherche-restaurant p {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding-top: 2%;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
  }

  .bouton a {
    width: 60%;
    max-width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
    border-radius: 30px; 
    box-shadow: 1px 10px 8px rgb(130 130 130 / 40%);
    background: linear-gradient(120deg, #9356DC, #FF79DA);
    cursor: pointer; 
    text-decoration: none;
    color: white;
    font-size: large;
    border: none;
  }

  .bouton a:hover {
    box-shadow: 1px 10px 8px rgb(130 130 130 / 90%);
    opacity: 0.7;
  
  }  

  /* Fonctionnement */


  .conteneur-fonctionnement-restaurant {
    width: 100%;
    height: 450px;
    
  }

  .texte-fonctionnement-restaurant h1 {
    margin-left: 20px;
    margin-top: 50px;
    
  }

  .conteneur-bouton-choix-restaurant {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .bouton-choix-restaurant {
    width: 85%;
    height: 70px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border: none solid;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #efefef;
    box-shadow: 1px 10px 30px #e3e3e3;
  }

  .conteneur-icone-1-bouton-choix-restaurant {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #9356DC;
    float: left;
    margin-left: -12px;
  }

  .conteneur-icone-1-bouton-choix-restaurant i {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    }
  .conteneur-icone-bouton-choix-restaurant {
    width: 30px;
    height: 30px;
    padding-top: 7px;
    margin-left: 20px;
  }

  .conteneur-icone-bouton-choix-restaurant i {
    color: grey;
    
  }

  .conteneur-texte-bouton-choix-restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    
  }

  .conteneur-texte-bouton-choix-restaurant a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: large;
  }

  .conteneur-bouton-menu-restaurant {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
  }

  .bouton-menu-restaurant {
    width: 85%;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    border: none solid;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #efefef;
    box-shadow: 1px 10px 30px #e3e3e3;
  }

  .conteneur-icone-2-bouton-menu-restaurant {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #9356DC;
    float: left;
    margin-left: -12px;
  }

  .conteneur-icone-2-bouton-menu-restaurant i {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
  }

  .conteneur-icone-bouton-menu-restaurant {
    width: 30px;
    height: 30px;
    padding-top: 7px;
    margin-left: 20px;
  }
  
  .conteneur-icone-bouton-menu-restaurant i {
    color: grey;
      
  }

  .conteneur-texte-bouton-menu-restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    
    }

    .conteneur-texte-bouton-menu-restaurant a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      text-decoration: none;
      color: black;
      font-size: large;
    }

  .conteneur-bouton-degustation-restaurant {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .bouton-degustation-restaurant {
    width: 85%;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    border: none solid;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #f1edfd;
    box-shadow: 1px 10px 30px #e3e3e3;
  }

  .conteneur-icone-3-bouton-degustation-restaurant {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #9356DC;
    float: left;
    margin-left: -12px;
  }

  .conteneur-icone-3-bouton-degustation-restaurant i {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
  }

  .conteneur-icone-bouton-degustation-restaurant {
    width: 30px;
    height: 30px;
    padding-top: 7px;
    margin-left: 20px;
  }

  .conteneur-icone-bouton-degustation-restaurant i {
    color: #9356DC;
    
  }

  .conteneur-texte-bouton-degustation-restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
  }

  .conteneur-texte-bouton-degustation-restaurant a {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-decoration: none;
    color: black;
    font-size: large;
  }

  /* Cartes restaurants */

  #restaurants {
    width: 100%;
    height: auto;
    background-color: #efefef;
    padding-bottom: 30px;
    
  }

  #restaurants h1 {
    margin-bottom: 30px;
    margin-left: 22px;
    padding-top: 40px;
    font-size: x-large;
  }

  .conteneur-restaurants {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .carte-restaurant {
    width: 90%;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    box-shadow: 5px 10px 30px #e3e3e3;
    
  }

  .carte-restaurant a {
    text-decoration: none;
    position: relative;
    
  }

  .carte-restaurant img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 1;
    position: relative;
    margin-top: -30px;
  }


  .conteneur-nouveau {
    width: 25%;
    height: 30px;
    margin-top: -165px;
    margin-left: 70%;
    color: #17B169;
    background-color: #99E2D0;
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .infos-carte h3 {
    width: 80%;
    margin-left: 15px;
    padding-top: 10px;
    text-decoration: none;
    color: black;
    
  }

  .infos-carte p {
    margin-left: 15px;
    text-decoration: none;
    padding-top: 10px;
    color: black;
    font-weight: lighter;
  }
  .coeur {
    width: 50px;
    height: 50px;
    margin-top: -50px;
    position: relative;
    font-size: 25px;
    float: right;
  }
  .coeur i {
    position: absolute;
    top: 0;
    left: 0;
    
  }

  .coeur .coeurvide {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    z-index: 1;
    color: gray; 
  }
  
  .coeur .coeurplein {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -12px;
    margin-left: -12px;
    z-index: 2;
    background: linear-gradient(120deg,#FF79DA 0%,#9356DC 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
  }  
  
  .coeur .coeurplein:hover {
   
    transition: 2s;
    opacity: 1;
    
  }
  /* Pied de page */

  .conteneur-footer {
    width: 100%;
    height: 250px;
    background-color: dimgray;
  }


  .conteneur-logo {
    width: 70%;
    height: 20px;
    padding-top: 25px;
  }

  .logo-footer {
    font-family: 'Shrikhand';
    font-style: oblique;
    font-size: small;
    color: white;
    margin-left: 22px;
  }

  .conteneur-proposer-un-restaurant {
    width: 90%;
    height: 20px;
    margin-top: 15px;
    margin-left: 22px;
  }

  .conteneur-icone-1 {
    width: 20px;
    height: 20px;
    padding-top: 20px;
    
  } 

  .conteneur-icone-1 i {
    color: white;
  }

  .conteneur-texte-1 {
    margin-left: 30px;
    
  }

  .conteneur-texte-1 a {
    color: white;
    text-decoration: none;
  }

  .conteneur-devenir-partenaire {
    width: 90%;
    height: 20px;
    margin-top: 10px;
    margin-left: 22px;
  }

  .conteneur-icone-2 {
    width: 20px;
    height: 20px;
    padding-top: 20px;
  }

  .conteneur-icone-2 i {
    color: white;
  }

  .conteneur-texte-2 {
    margin-left: 30px;
  }

  .conteneur-texte-2 a {
    color: white;
    text-decoration: none;
  }

  .conteneur-mentions-legales {
    padding-top: 30px;
    margin-left: 22px;
  }

  .conteneur-mentions-legales a {
    color: white;
    text-decoration: none;
  }

  .conteneur-contact {
    padding-top: 10px;
    margin-left: 22px;
  }

  .conteneur-contact a {
    color: white;
    text-decoration: none;
  }

  @media screen and (min-width:768px) {
    .conteneur-restaurants {
      flex-direction: row;
    }






  }







  